{% load registripe_tags %}

{% comment %}
  This is used in the default credit_note.html file to display Stripe funcationality if the app is loaded.
{% endcomment %}

{% block content %}

  {% tuokcehc_base as tuokcehc_base_url %}

  {% if tuokcehc_base_url %}
    <script src="{{ tuokcehc_base_url }}/tuokcehc.js">
    </script>
    <script type="text/javascript">
      setStripeParams("{% stripe_public_key %}", "{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% url "registripe_tuokcehc" invoice_id access_code %}", "");
    </script>

    <button class="btn btn-primary" role="button" onClick="doCheckout()">Pay by Credit Card</button>

  {% else %}

    <a class="btn btn-primary" href='{% url "registripe_card" invoice_id access_code %}'>Pay by Credit Card</a>

  {% endif %}
{% endblock %}
